xsd/xhochschule-bescheingungen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xhs="http://xhochschule.de/def/xhochschule/0.92/xsd"
           xmlns:xbd="http://xbildung.de/def/xbildung/0.91/xsd"
           targetNamespace="http://xhochschule.de/def/xhochschule/0.92/xsd"
           version="0.92"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XHochschule</nameLang>
            <nameKurz>XHochschule</nameKurz>
            <nameTechnisch>xhochschule</nameTechnisch>
            <kennung>urn:xoev-de:xhochschule-de:def:standard:xhochschule</kennung>
            <beschreibung>XHochschule</beschreibung>
         </standard>
         <versionStandard>
            <version>0.92</version>
            <versionXOEVProfil>2.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>2.4</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP 3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xhochschule-baukasten.xsd"/>
   <xs:import schemaLocation="http://xbildung.de/def/xbildung/0.91/xsd/xbildung-baukasten.xsd"
              namespace="http://xbildung.de/def/xbildung/0.91/xsd"/>
   <xs:element name="exmatrikulationsbescheinigung">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage/>
         </xs:appinfo>
         <xs:documentation>Exmatrikulationsbescheinigung für ein einzelnes Studienfach, die für einen Studienplatzwechsel benötigt wird.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:AllgemeineBescheinigung">
               <xs:sequence>
                  <xs:element name="exmatrikulationsdatum" minOccurs="0" type="xs:date">
                     <xs:annotation>
                        <xs:documentation>Datum der Exmatrikulation.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studierender">
                     <xs:annotation>
                        <xs:documentation>Beschreibung der zu exmatrikulierenden Person.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xhs:Studierender"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="ausstellendeHochschule">
                     <xs:annotation>
                        <xs:documentation>Die Hochschule, von der die Exmatrikulation erfolgt und die die Bescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xhs:Hochschule"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="studienfach"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xhs:Studienfach">
                     <xs:annotation>
                        <xs:documentation>Als Studienfach bezeichnet man an Hochschulen den spezifischen Aufbau und die fachliche Ausrichtung eines Studiums.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienabschnitt"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xhs:Studienabschnitt">
                     <xs:annotation>
                        <xs:documentation>Ein zeitlich, fachlich, und verwaltungstechnisch abgegrenzter Teil eines Studiums</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="verifikation" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Zusätzliche Informationen der Bildungseinrichtung. Diese enthalten unter anderem Informationen über die Adresse der Bildungseinrichtung.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="schluessel" type="xs:string">
                              <xs:annotation>
                                 <xs:documentation>Studienbescheinigungen sind meist maschinell erstellt und tragen keine Unterschrift. Viele Universitäten bieten daher heute die Möglichkeit einer Verifikation über das Internet an. Dazu enthält die Bescheinigung eine für jeden Studenten und jede Bescheinigung einmalige Verifikationsnummer.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="adresse" type="xs:anyURI">
                              <xs:annotation>
                                 <xs:documentation>Studienbescheinigungen sind meist maschinell erstellt und tragen keine Unterschrift. Viele Universitäten bieten daher heute die Möglichkeit einer Verifikation über das Internet an. Dazu enthält die Bescheinigung eine für jeden Studenten und jede Bescheinigung einmalige URI.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="rentenbescheinigung">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage/>
         </xs:appinfo>
         <xs:documentation>Spezialisierung einer allgemeinen Bescheinigungen zur Vorlage bei der Deutschen Rentenversicherung durch den Studierenden</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:AllgemeineBescheinigung">
               <xs:sequence>
                  <xs:element name="rentenversicherungsnummer"
                              minOccurs="0"
                              type="xbd:Identifikation">
                     <xs:annotation>
                        <xs:documentation>Rentenversicherungsnummer der studierenden Person, der eine Bescheinigung ausgestellt wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studierender">
                     <xs:annotation>
                        <xs:documentation>Beschreibung der empfangenden Person.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xhs:Studierender"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="ausstellendeHochschule" type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Hochschule, die die Bescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienabschnitt" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Aufzählung aller Studienabschnitte zum Nachweis des Studierendenstatus der empfangenden Person. Bei Beurlaubung muss immer der Beurlaubungsgrund aufgeführt werden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xhs:Studienabschnitt">
                              <xs:sequence>
                                 <xs:element name="beurlaubungsgrund"
                                             minOccurs="0"
                                             type="xhs:Code.Beurlaubungsgrund">
                                    <xs:annotation>
                                       <xs:documentation>Grund für die Beurlaubung nach DESTATIS Erhebungsschlüssel. Darf nur bei der Rentenbescheinigung angegeben werden.</xs:documentation>
                                    </xs:annotation>
                                 </xs:element>
                                 <xs:element name="ausbildungsstaette" type="xhs:Hochschule">
                                    <xs:annotation>
                                       <xs:documentation>Hochschule, an der dieser Studienabschnitt stattgefunden hat. Diese kann eine andere als die ausstellende Hochschule sein.</xs:documentation>
                                    </xs:annotation>
                                 </xs:element>
                                 <xs:element name="abgeschlossenOderDatum">
                                    <xs:complexType>
                                       <xs:choice>
                                          <xs:element name="abgeschlossen" fixed="true" type="xs:boolean">
                                             <xs:annotation>
                                                <xs:documentation>Gibt an, ob der Studienabschnitt regulär abgeschlossen wurde. Wenn nicht, muss das Datum des Abschlusses angegeben werden.</xs:documentation>
                                             </xs:annotation>
                                          </xs:element>
                                          <xs:element name="enddatum" type="xs:date">
                                             <xs:annotation>
                                                <xs:documentation>Muss angegeben werden, wenn der Studienabschnitt nicht regulär beendet wurde</xs:documentation>
                                             </xs:annotation>
                                          </xs:element>
                                       </xs:choice>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:extension>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="verifikation">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="schluessel" type="xs:string">
                              <xs:annotation>
                                 <xs:documentation>Studienbescheinigungen sind meist maschinell erstellt und tragen keine Unterschrift. Viele Universitäten bieten daher heute die Möglichkeit einer Verifikation über das Internet an. Dazu enthält die Bescheinigung eine für jeden Studenten und jede Bescheinigung einmalige Verifikationsnummer.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="adresse" type="xs:anyURI">
                              <xs:annotation>
                                 <xs:documentation>Studienbescheinigungen sind meist maschinell erstellt und tragen keine Unterschrift. Viele Universitäten bieten daher heute die Möglichkeit einer Verifikation über das Internet an. Dazu enthält die Bescheinigung eine für jeden Studenten und jede Bescheinigung einmalige URI.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
