xsd/xhochschule-bildungsnachweise.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xhs="http://xhochschule.de/def/xhochschule/0.92/xsd"
           xmlns:xbd="http://xbildung.de/def/xbildung/0.91/xsd"
           xmlns:xoev-lc="http://xoev.de/latinchars/1_1/datatypes"
           targetNamespace="http://xhochschule.de/def/xhochschule/0.92/xsd"
           version="0.92"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XHochschule</nameLang>
            <nameKurz>XHochschule</nameKurz>
            <nameTechnisch>xhochschule</nameTechnisch>
            <kennung>urn:xoev-de:xhochschule-de:def:standard:xhochschule</kennung>
            <beschreibung>XHochschule</beschreibung>
         </standard>
         <versionStandard>
            <version>0.92</version>
            <versionXOEVProfil>2.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>2.4</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP 3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xhochschule-baukasten.xsd"/>
   <xs:import schemaLocation="http://xbildung.de/def/xbildung/0.91/xsd/xbildung-baukasten.xsd"
              namespace="http://xbildung.de/def/xbildung/0.91/xsd"/>
   <xs:import schemaLocation="http://xoev.de/latinchars/1_1/datatypes/latinchars.xsd"
              namespace="http://xoev.de/latinchars/1_1/datatypes"/>
   <xs:element name="diplomaSupplement">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage/>
         </xs:appinfo>
         <xs:documentation>Eine Dokument, die die Datenstrukturen enthält, wie sie ein Studierender im Rahmen eines digital ausgestellten maschinenverarbeitbaren Diploma Supplement erhält. Das von xbd:Dokument geerbte Element "ausstellung" deckt den Abschnitt 7.1 des Diploma Supplements ab. Das von xbd:Bildungsnachweis geerbte Element "abschluss" deckt Teile des Abschnitts 4.3 des Diploma Supplements ab.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Bildungsnachweis">
               <xs:sequence>
                  <xs:element name="ausstellendeHochschule"
                              maxOccurs="unbounded"
                              type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Die Hochschule, die das Diploma Supplement ausgestellt hat.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="transcriptOfRecordVerweis" minOccurs="0" type="xs:ID">
                     <xs:annotation>
                        <xs:documentation>Verweis auf ein gemeinsam mit einem Hochschulabschlusszeugnis (Diploma) ausgestelltes "Transcript Of Record"-Dokument</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="angabenInhaber" type="xhs:Studierender">
                     <xs:annotation>
                        <xs:documentation>Studierende Person, für die ein Diploma Supplement ausgestellt wird. Das von xbd:NatuerlichePerson geerbte Element "nameNatuerlichePerson" deckt die Abschnitte 1.1 (vorname) und 1.2 (familienname) des Diploma Supplements ab. Das Element "geburt" den Abschnitt 1.3. Das Element "matrikelnummer" von xhs:Studierender entspricht dem Abschnitt 1.4 des Diploma Supplements.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="angabenQualifikation">
                     <xs:annotation>
                        <xs:documentation>Beinhaltet Informationen über die durch den Abschluss verliehenen Qualifikationen. Abschnitt 2.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="bezeichnungQualifikationBeschreibung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Mit dem Abschluss erworbene Qualifikation als Freitext. Beispiele sind: Diplom-Kaufmann (FH), Master of Science. Dieses Element deckt die in Abschnitt 2.1a des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="bezeichnungTitelBeschreibung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Mit dem Abschluss erworbener Titel als Freitext. Oftmals ist dieser gleich zu 2.1a (bezeichnungQualifikationCode bzw. Freitext), aber nicht immer: Bachelor in Bildungswissenschaften -&gt; Primarschullehrer/in. Dieses Element deckt die in Abschnitt 2.1b des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="hauptstudienfach"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xhs:Studienfach">
                              <xs:annotation>
                                 <xs:documentation>Es sollen lediglich das Haupt-Studiengebiet (bzw. die Haupt-Studiengebiete) wie zum Beispiel „Politik und Geschichte“ angegeben werden. Dieses Element deckt die in Abschnitt 2.2 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="verleihendeInstitution" maxOccurs="unbounded">
                              <xs:annotation>
                                 <xs:documentation>Name und Status der Institution oder Institutionen, welche das Diploma Supplement ausgestellt haben. Dieses Element deckt die im Abschnitt 2.3 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="nameInstitution" type="xbd:NameOrganisation">
                                       <xs:annotation>
                                          <xs:documentation>Name der Bildungseinrichtung</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="statusInstitution"
                                                minOccurs="0"
                                                type="xbd:Code.ArtDerHochschule">
                                       <xs:annotation>
                                          <xs:documentation>Der Status einer Bildungseinrichtung sagt aus, auf welchem Niveau von Bildung sie Akkreditiert ist</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="durchfuehrendeInstitution"
                                       minOccurs="0"
                                       maxOccurs="unbounded">
                              <xs:annotation>
                                 <xs:documentation>Name und Status der Institution oder Institutionen, an denen die Ausbildung stattgefunden hat. Dieses Element deckt die im Abschnitt 2.4 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="nameInstitution" type="xbd:NameOrganisation">
                                       <xs:annotation>
                                          <xs:documentation>Name der Bildungseinrichtung</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="statusInstitution"
                                                minOccurs="0"
                                                type="xbd:Code.ArtDerHochschule">
                                       <xs:annotation>
                                          <xs:documentation>Der Status einer Bildungseinrichtung sagt aus, auf welchem Niveau von Bildung sie Akkreditiert ist</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="spracheDerPruefung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:Sprache">
                              <xs:annotation>
                                 <xs:documentation>Sprachen, in denen Prüfungen durchgeführt wurden. Dieses Element deckt die im Abschnitt 2.5b des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="spracheDesUnterrichts"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:Sprache">
                              <xs:annotation>
                                 <xs:documentation>Sprachen, in denen Unterricht durchgeführt wurde. Dieses Element deckt die im Abschnitt 2.5a des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="dauerUndEbeneQualifikation">
                     <xs:annotation>
                        <xs:documentation>Beinhaltet Informationen über die durch den Abschluss verliehenen Qualifikationen. Abschnitt 3.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="dauerStudiumInECTS" minOccurs="0" type="xs:decimal">
                              <xs:annotation>
                                 <xs:documentation>Anzahl der ECTS, die für das Studium vorgesehen sind. Dieses Element deckt die in Abschnitt 3.2a des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="dauerStudiumInJahren" minOccurs="0" type="xs:decimal">
                              <xs:annotation>
                                 <xs:documentation>Dauer des Studiums nach Regelstudienzeit. Dieses Element deckt die in Abschnitt 3.2b des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="ebeneDerQualifikation"
                                       minOccurs="0"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Eben der Qualifikation, die durch das Studium verliehen wird. Dieses Element deckt die in Abschnitt 3.1 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="zugangsvorraussetzungen"
                                       minOccurs="0"
                                       type="xbd:Code.ArtDerHZB">
                              <xs:annotation>
                                 <xs:documentation>Level der benötigten Hochschulzugangsberechtigung. Dieses Element deckt die in Abschnitt 3.3 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="zugangsvorraussetzungenErgaenzung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Sollte nur verwendet werden, wenn die Codeliste nicht ausreicht. Z.B., wenn zusätzlich zu einer Hochschulzulassung ein Praktikum, Assessment Center oder eine Berufsausbildung notwendig war. Dieses Element deckt die in Abschnitt 3.3 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="erzielteErgebnisse" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Angaben zum Inhalt des Studiums und zu den erzielten Ergebnissen. Abschnitt 4.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="studienformCode" minOccurs="0" type="xhs:Code.Lernzeitmodell">
                              <xs:annotation>
                                 <xs:documentation>Hier soll angegeben werden, die das Studium absolviert wurde. Dieses Element deckt, ggf. gemeinsam mit studienformBeschreibung, die in Abschnitt 4.1 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="studienformBeschreibung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Da neben Voll- und Teilzeit auch „intermittent/sandwich“, „e-learning“ oder „distance“ als Beispiele geführt werden, wird hier eine zusätzliche Möglichkeit gegeben, Studienformen anzugeben. Dieses Element deckt, ggf. gemeinsam mit studienformCode, die in Abschnitt 4.1 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="lernergebnisse" minOccurs="0" maxOccurs="unbounded">
                              <xs:annotation>
                                 <xs:documentation>Hier soll beschrieben werden, welches Wissen, welche Fähigkeiten, Kompetenzen und Skills der Absolvent im Laufe des Studiums erworben hat. Dieses Element deckt die in Abschnitt 4.2 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="beschreibung"
                                                minOccurs="0"
                                                maxOccurs="unbounded"
                                                type="xbd:String.Localized">
                                       <xs:annotation>
                                          <xs:documentation>Name eines einzelnen Lernergebnisses.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="titel"
                                                minOccurs="0"
                                                maxOccurs="unbounded"
                                                type="xbd:String.Localized">
                                       <xs:annotation>
                                          <xs:documentation>Beschreibung eines einzelnen Lernergebnisses.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="studiendetails"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xhs:Modul">
                              <xs:annotation>
                                 <xs:documentation>Einzelheiten zu belegten Modulen, individuell erworbene Leistungspunkte und erzielte Noten. Zu diesem Abschnitt gehören auch die im Kopfteil gemachten Angaben unter „abschluss“. Dieses Element deckt die in Abschnitt 4.3 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="notenspiegel" minOccurs="0" type="xhs:Notenspiegel">
                              <xs:annotation>
                                 <xs:documentation>Ein Notenspiegel ermöglicht es, die Note des Studenten in den Kontext mit den anderen Absolventen des Studienfachs zu setzen. Dieses Element deckt die in Abschnitt 4.4b des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="gesamtnote" minOccurs="0" type="xbd:Benotung">
                              <xs:annotation>
                                 <xs:documentation>Die Benotung der absolvierenden Person, die sich aus Benotungselementen wie z.B. Gesamtnote und lateinischer Ehrenbezeichnung zusammensetzt. Identisch mit der „benotung“ im Hochschulabschlusszeugnis. Dieses Element deckt sowohl die in Abschnitt 4.5 gemachten Angaben (Gesamtnote) als auch die Angaben des Abschnitts 4.4a (die Beschreibung des Notensystems) ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="hochschulabschlusszeugnisVerweis" minOccurs="0" type="xs:ID">
                     <xs:annotation>
                        <xs:documentation>Verweis auf das Hochschulabschlusszeugnis (Diploma), für welches das Diploma Supplement ausgestellt wurde.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="berechtigungenDurchQualifikation" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Angaben zu den Berechtigungen, die durch den Erwerb des Studienabschlusses erworben werden. Abschnitt 5.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="zugangsberechtigungWeiterfuehrendesStudiumBezeichnung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Freitextbeschreibung des erworbenen Zugangs zu einem weiterführenden Studium. Dieses Element deckt, ggf. gemeinsam mit zugangsberechtigungWeiterfuehrendesStudiumCode, die in Abschnitt 5.1 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="zugangsberechtigungWeiterfuehrendesStudiumCode"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:Code.ISCED2011">
                              <xs:annotation>
                                 <xs:documentation>Bezeichnung des erworbenen Zugangs zu einem weiterführenden Studium (ISCED Code 2011). Dieses Element deckt, ggf. gemeinsam mit zugangsberechtigungWeiterfuehrendesStudiumBezeichnung, die in Abschnitt 5.1 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="zulassungZuReglementiertemBerufBezeichnung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Bezeichnung des reglementierten Berufs für den durch Erwerb des Hochschulabschlusses die Zugangsvoraussetzung erfüllt werden. Dieses Element deckt die in Abschnitt 5.2 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="sonstigeAngaben" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Enthält weitere Angaben zum Dokument. Abschnitt 6.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="weitereAngaben" minOccurs="0" maxOccurs="unbounded">
                              <xs:annotation>
                                 <xs:documentation>Dieses Element deckt die in Abschnitt 6.1 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="beschreibung"
                                                minOccurs="0"
                                                maxOccurs="unbounded"
                                                type="xbd:String.Localized">
                                       <xs:annotation>
                                          <xs:documentation>Inhalt des Abschnitts mit weiteren Angaben.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="titel"
                                                minOccurs="0"
                                                maxOccurs="unbounded"
                                                type="xbd:String.Localized">
                                       <xs:annotation>
                                          <xs:documentation>Überschrift des Abschnitts mit weiteren Angaben.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="weitereInformationsquellen"
                                       minOccurs="0"
                                       maxOccurs="unbounded">
                              <xs:annotation>
                                 <xs:documentation>Hier können weitere Informatiosquellen angegeben werden. Dieses Element deckt die in Abschnitt 6.2 des Diploma Supplements gemachten Angaben ab.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="beschreibung"
                                                minOccurs="0"
                                                maxOccurs="unbounded"
                                                type="xbd:String.Localized">
                                       <xs:annotation>
                                          <xs:documentation>Beschreibung der Quelle.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="titel"
                                                minOccurs="0"
                                                maxOccurs="unbounded"
                                                type="xbd:String.Localized">
                                       <xs:annotation>
                                          <xs:documentation>Titel der Quelle. Kann als Überschrift oder Link-Text verwendet werden.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="url" minOccurs="0" maxOccurs="unbounded" type="xs:anyURI">
                                       <xs:annotation>
                                          <xs:documentation>URL unter der die weiteren Informationen erreicht werden können.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="angabenNationalesHochschulsystem" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Detailliertere Beschreibung des nationalen Hochschulsystems, in dem das Dokument ausgestellt wurde. Abschnitt 8.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="beschreibung"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Inhalt des Abschnitts bezüglich des nationalen Hochschulsystems.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="titel"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>Überschrift des Abschnitts bezüglich des nationalen Hochschulsystems.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="hochschulabschlusszeugnis">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage/>
         </xs:appinfo>
         <xs:documentation>Ein Dokument, das die Datenstrukturen enthält, wie sie ein Studierender im Rahmen eines digital ausgestellten maschinenverarbeitbaren Hochschulabschlusszeugnisses erhält.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Bildungsnachweis">
               <xs:sequence>
                  <xs:element name="studierender" type="xhs:Studierender">
                     <xs:annotation>
                        <xs:documentation>Studierende Person, für die ein Hochschulabschlusszeugnis ausgestellt wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ausstellendeHochschule"
                              maxOccurs="unbounded"
                              type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Die Hochschule, an der der Abschluss erfolgt und die das Hochschulabschlusszeugnis ausstellt.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="diplomaSupplementVerweis" minOccurs="0" type="xs:ID">
                     <xs:annotation>
                        <xs:documentation>Verweis auf ein gemeinsam mit einem Hochschulabschlusszeugnis (Diploma) ausgestelltes Diploma Supplement</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="transcriptOfRecordVerweis" minOccurs="0" type="xs:ID">
                     <xs:annotation>
                        <xs:documentation>Verweis auf ein gemeinsam mit einem Hochschulabschlusszeugnis (Diploma) ausgestelltes "Transcript Of Record"-Dokument</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienfach"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xhs:Studienfach">
                     <xs:annotation>
                        <xs:documentation>Als Studienfach bezeichnet man an Hochschulen den spezifischen Aufbau und die fachliche Ausrichtung eines Studiums.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="benotung" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Die Benotung der absolvierenden Person, die sich aus Benotungselementen wie z.B. Gesamtnote und lateinischer Ehrenbezeichnung zusammensetzt.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="gesamtnote"
                                       minOccurs="0"
                                       maxOccurs="unbounded"
                                       type="xs:string">
                              <xs:annotation>
                                 <xs:documentation>Freitextfeld für die Note, die sich aus allen erbrachten Leistungen des Hochschulstudiums ergibt.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="lateinischeEhrenbezeichnung"
                                       minOccurs="0"
                                       type="xhs:Code.LateinischeEhrenbezeichnung">
                              <xs:annotation>
                                 <xs:documentation>lateinische Ehrenbezeichnung falls vorhanden (z.B. "cum laude")</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="bezeichnung" type="xbd:String.Localized">
                     <xs:annotation>
                        <xs:documentation>Eine Freitextbezeichnung für das Hochschulabschlusszeugnis.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="zulassungZuReglementiertemBerufBezeichnung"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xbd:String.Localized">
                     <xs:annotation>
                        <xs:documentation>Bezeichnung des reglementierten Berufs für den durch Erwerb des Hochschulabschlusses die Zugangsvoraussetzung erfüllt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="zugangsberechtigungWeiterfuehrendesStudiumBezeichnung"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xbd:String.Localized">
                     <xs:annotation>
                        <xs:documentation>Freitextbeschreibung des erworbenen Zugangs zu einem weiterführenden Studium.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="zugangsberechtigungWeiterfuehrendesStudiumCode"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xbd:Code.ISCED2011">
                     <xs:annotation>
                        <xs:documentation>Bezeichnung des erworbenen Zugangs zu einem weiterführenden Studium (ISCED Code 2011).</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
