xsd/xhochschule-bescheingungen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xhs="http://xhochschule.de/def/xhochschule/0.94/xsd"
           xmlns:xbd="http://xbildung.de/def/xbildung/0.93/xsd"
           targetNamespace="http://xhochschule.de/def/xhochschule/0.94/xsd"
           version="0.94"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XHochschule</nameLang>
            <nameKurz>XHochschule</nameKurz>
            <nameTechnisch>xhochschule</nameTechnisch>
            <kennung>urn:xoev-de:xhochschule-de:def:standard:xhochschule</kennung>
            <beschreibung>XHochschule</beschreibung>
         </standard>
         <versionStandard>
            <version>0.94</version>
            <versionXOEVProfil>2.0.0</versionXOEVProfil>
            <versionXOEVHandbuch>2.4</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP 3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xhochschule-baukasten.xsd"/>
   <xs:import schemaLocation="http://xbildung.de/def/xbildung/0.93/xsd/xbildung-baukasten.xsd"
              namespace="http://xbildung.de/def/xbildung/0.93/xsd"/>
   <xs:element name="exmatrikulationsbescheinigung">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage/>
         </xs:appinfo>
         <xs:documentation>Exmatrikulationsbescheinigung, die für einen Studienplatzwechsel benötigt wird.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Dokument">
               <xs:sequence>
                  <xs:element name="exmatrikulationsdatum" type="xs:date">
                     <xs:annotation>
                        <xs:documentation>Datum der Exmatrikulation.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studierender">
                     <xs:annotation>
                        <xs:documentation>Beschreibung der zu exmatrikulierenden Person.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xhs:Studierender"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="ausstellendeHochschule" type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Die Hochschule, von der die Exmatrikulation erfolgt und die die Bescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienabschnitt"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xhs:Studienabschnitt">
                     <xs:annotation>
                        <xs:documentation>Ein zeitlich, fachlich, und verwaltungstechnisch abgegrenzter Teil eines Studiums. Es gibt grundsätzlich zwei verschiedene Arten für die Nutzung der Klasse Studienabschnitt: Option 1: Angabe von genau einem einzigen Abschnitt pro Studienfach, der eine Zusammenfassung des Studiums eines Studierenden in diesem Studienfach darstellt, z.B. über einen Zeitraum von 3 Jahren und 6 Fachsemestern im Bachelorstudiengang Biologie. Oder Option 2: Angabe von je einem Studienabschnitt pro Semester, in dem ein Studierender eingeschrieben war. Die Angabe der Attribute "semesterbezeichnung" und "beurlaubungsstatus" ist nur sinnvoll bei Option 2.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anmerkungRegelstudienzeit"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xbd:String.Localized">
                     <xs:annotation>
                        <xs:documentation>Falls beispielsweise die Regelstudienzeit aufgrund der Corona-Pandemie verlängert wurde, sollte diese Information hier angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="verifikation"
                              minOccurs="0"
                              maxOccurs="2"
                              type="xhs:Verifikation">
                     <xs:annotation>
                        <xs:documentation>Zusätzliche Informationen der Bildungseinrichtung zur Verifikation eines Dokuments. Es können bis zu zwei verschiedene Dokumenttypen verifiziert werden. Eine Angabe dient beispielsweise zur Verifikation eines PDF-Dokuments und die andere zur Verifikation einer XML-Datei.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="immatrikulationsbescheinigung">
      <xs:annotation>
         <xs:documentation>Eine Bescheinigung, die Angaben enthält, um die Immatrikulation eines Studierenden an einer Hochschule allgemein nachweisen zu können.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Dokument">
               <xs:sequence>
                  <xs:element name="ausstellendeHochschule" type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Hochschule, die die Bescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studierender">
                     <xs:annotation>
                        <xs:documentation>Studierende Person, für die eine Immatrikulationsbescheinigung ausgestellt wird.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xhs:Studierender"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="studienfach"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xhs:Studienfach">
                     <xs:annotation>
                        <xs:documentation>Als Studienfach bezeichnet man an Hochschulen den spezifischen Aufbau und die fachliche Ausrichtung eines Studiums.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="lernzeitmodell" minOccurs="0" type="xhs:Code.Lernzeitmodell">
                     <xs:annotation>
                        <xs:documentation>Mit Lernzeitmodell sei hier unter anderem die Unterscheidung zwischen Teil- und Vollzeit gemeint.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienzeitraum" type="xhs:Studienzeitraum">
                     <xs:annotation>
                        <xs:documentation>Bezeichnung des aktuellen Studienzeitraums, sowie dessen Anfangs- und Enddatums</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="einschreibungsstatus" type="xhs:Code.Immatrikulationsstatus">
                     <xs:annotation>
                        <xs:documentation>Angabe zum Immatrikulationsstatus des Studierenden</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="beurlaubungsstatus"
                              minOccurs="0"
                              type="xhs:Code.Beurlaubungsstatus">
                     <xs:annotation>
                        <xs:documentation>Angabe zum Beurlaubungsstatus des Studierenden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="verifikation"
                              minOccurs="0"
                              maxOccurs="2"
                              type="xhs:Verifikation">
                     <xs:annotation>
                        <xs:documentation>Zusätzliche Informationen der Bildungseinrichtung zur Verifikation eines Dokuments. Es können bis zu zwei verschiedene Dokumenttypen verifiziert werden. Eine Angabe dient beispielsweise zur Verifikation eines PDF-Dokuments und die andere zur Verifikation einer XML-Datei.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="immatrikulationsbescheinigungBAfoeGP9">
      <xs:annotation>
         <xs:documentation>Eine Bescheinigung, die Angaben enthält, um die Immatrikulation eines Studierenden an einer Hochschule nach den Vorgaben von BAföG §9 nachzuweisen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Dokument">
               <xs:sequence>
                  <xs:element name="ausstellendeHochschule" type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Hochschule, die die Bescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studierender">
                     <xs:annotation>
                        <xs:documentation>Studierende Person, für die eine Immatrikulationsbescheinigung ausgestellt wird.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xhs:Studierender"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="studienfach"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xhs:Studienfach">
                     <xs:annotation>
                        <xs:documentation>Als Studienfach bezeichnet man an Hochschulen den spezifischen Aufbau und die fachliche Ausrichtung eines Studiums.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="lernzeitmodell" type="xhs:Code.Lernzeitmodell">
                     <xs:annotation>
                        <xs:documentation>Mit Lernzeitmodell sei hier nur die Unterscheidung zwischen Voll- und Teilzeit gemeint. Andere Lernzeitmodelle sind nicht anzugeben.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienzeitraum" type="xhs:Studienzeitraum">
                     <xs:annotation>
                        <xs:documentation>Bezeichnung des aktuellen Studienzeitraums, sowie dessen Anfangs- und Enddatums</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="einschreibungsstatus" type="xhs:Code.Immatrikulationsstatus">
                     <xs:annotation>
                        <xs:documentation>Angabe zum Immatrikulationsstatus des Studierenden</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="beurlaubungsstatus" type="xhs:Code.Beurlaubungsstatus">
                     <xs:annotation>
                        <xs:documentation>Angabe zum Beurlaubungsstatus des Studierenden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="verifikation"
                              minOccurs="0"
                              maxOccurs="2"
                              type="xhs:Verifikation">
                     <xs:annotation>
                        <xs:documentation>Zusätzliche Informationen der Bildungseinrichtung zur Verifikation eines Dokuments. Es können bis zu zwei verschiedene Dokumenttypen verifiziert werden. Eine Angabe dient beispielsweise zur Verifikation eines PDF-Dokuments und die andere zur Verifikation einer XML-Datei.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="rentenbescheinigung">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage/>
         </xs:appinfo>
         <xs:documentation>Bescheinigungen zur Vorlage bei der Deutschen Rentenversicherung</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Dokument">
               <xs:sequence>
                  <xs:element name="rentenversicherungsnummer"
                              minOccurs="0"
                              type="xbd:Identifikation">
                     <xs:annotation>
                        <xs:documentation>Rentenversicherungsnummer der studierenden Person, der eine Bescheinigung ausgestellt wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studierender">
                     <xs:annotation>
                        <xs:documentation>Beschreibung der empfangenden Person.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xhs:Studierender"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="ausstellendeHochschule" type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Hochschule, die die Bescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienabschnitt" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Aufzählung aller Studienabschnitte zum Nachweis des Studierendenstatus der empfangenden Person. Bei Beurlaubung muss immer der Beurlaubungsgrund aufgeführt werden. Ein Studienabschnitt ist ein zeitlich, fachlich, und verwaltungstechnisch abgegrenzter Teil eines Studiums. Es gibt grundsätzlich zwei verschiedene Arten für die Nutzung der Klasse Studienabschnitt: Option 1: Angabe von genau einem einzigen Abschnitt pro Studienfach, der eine Zusammenfassung des Studiums eines Studierenden in diesem Studienfach darstellt, z.B. über einen Zeitraum von 3 Jahren und 6 Fachsemestern im Bachelorstudiengang Biologie. Oder Option 2: Angabe von je einem Studienabschnitt pro Semester, in dem ein Studierender eingeschrieben war. Die Angabe der Attribute "semesterbezeichnung" und "beurlaubungsstatus" ist nur sinnvoll bei Option 2.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xhs:Studienabschnitt">
                              <xs:sequence>
                                 <xs:element name="beurlaubungsgrund"
                                             minOccurs="0"
                                             type="xhs:Code.Beurlaubungsgrund">
                                    <xs:annotation>
                                       <xs:documentation>Grund für die Beurlaubung nach DESTATIS Erhebungsschlüssel. Darf nur bei der Rentenbescheinigung angegeben werden.</xs:documentation>
                                    </xs:annotation>
                                 </xs:element>
                                 <xs:element name="ausbildungsstaette" type="xhs:Hochschule">
                                    <xs:annotation>
                                       <xs:documentation>Hochschule, an der dieser Studienabschnitt stattgefunden hat. Diese kann eine andere als die ausstellende Hochschule sein.</xs:documentation>
                                    </xs:annotation>
                                 </xs:element>
                                 <xs:element name="abgeschlossenOderDatum">
                                    <xs:complexType>
                                       <xs:choice>
                                          <xs:element name="abgeschlossen" fixed="true" type="xs:boolean">
                                             <xs:annotation>
                                                <xs:documentation>Gibt an, ob der Studienabschnitt regulär abgeschlossen wurde. Wenn nicht, muss das Datum des Abschlusses angegeben werden.</xs:documentation>
                                             </xs:annotation>
                                          </xs:element>
                                          <xs:element name="enddatum" type="xs:date">
                                             <xs:annotation>
                                                <xs:documentation>Muss angegeben werden, wenn der Studienabschnitt nicht regulär beendet wurde</xs:documentation>
                                             </xs:annotation>
                                          </xs:element>
                                       </xs:choice>
                                    </xs:complexType>
                                 </xs:element>
                              </xs:sequence>
                           </xs:extension>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="verifikation"
                              minOccurs="0"
                              maxOccurs="2"
                              type="xhs:Verifikation">
                     <xs:annotation>
                        <xs:documentation>Zusätzliche Informationen der Bildungseinrichtung zur Verifikation eines Dokuments. Es können bis zu zwei verschiedene Dokumenttypen verifiziert werden. Eine Angabe dient beispielsweise zur Verifikation eines PDF-Dokuments und die andere zur Verifikation einer XML-Datei.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="studienverlaufsbescheinigung">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage/>
         </xs:appinfo>
         <xs:documentation>Bescheinigung über den Verlauf des Studiums von Studierenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Dokument">
               <xs:sequence>
                  <xs:element name="studierender">
                     <xs:annotation>
                        <xs:documentation>Beschreibung der Person, deren Studienverlauf bescheinigt wird.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xhs:Studierender"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="ausstellendeHochschule" type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Die Hochschule, an welcher die studierenden ihr Studium absolviert haben und welche die Studienverlaufsbescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienabschnitt"
                              maxOccurs="unbounded"
                              type="xhs:Studienabschnitt">
                     <xs:annotation>
                        <xs:documentation>Ein zeitlich, fachlich, und verwaltungstechnisch abgegrenzter Teil eines Studiums. Es gibt grundsätzlich zwei verschiedene Arten für die Nutzung der Klasse Studienabschnitt: Option 1: Angabe von genau einem einzigen Abschnitt pro Studienfach, der eine Zusammenfassung des Studiums eines Studierenden in diesem Studienfach darstellt, z.B. über einen Zeitraum von 3 Jahren und 6 Fachsemestern im Bachelorstudiengang Biologie. Oder Option 2: Angabe von je einem Studienabschnitt pro Semester, in dem ein Studierender eingeschrieben war. Die Angabe der Attribute "semesterbezeichnung" und "beurlaubungsstatus" ist nur sinnvoll bei Option 2.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anmerkungRegelstudienzeit"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xbd:String.Localized">
                     <xs:annotation>
                        <xs:documentation>Falls beispielsweise die Regelstudienzeit aufgrund der Corona-Pandemie verlängert wurde, sollte diese Information hier angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="verifikation"
                              minOccurs="0"
                              maxOccurs="2"
                              type="xhs:Verifikation">
                     <xs:annotation>
                        <xs:documentation>Zusätzliche Informationen der Bildungseinrichtung zur Verifikation eines Dokuments. Es können bis zu zwei verschiedene Dokumenttypen verifiziert werden. Eine Angabe dient beispielsweise zur Verifikation eines PDF-Dokuments und die andere zur Verifikation einer XML-Datei.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
