xsd/xhochschule-bescheingungen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xhs="http://xhochschule.de/def/xhochschule/0.7/xsd"
           xmlns:xbd="http://xbildung.de/def/xbildung/0.7/xsd"
           targetNamespace="http://xhochschule.de/def/xhochschule/0.7/xsd"
           version="0.7"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XHochschule</nameLang>
            <nameKurz>XHochschule</nameKurz>
            <nameTechnisch>xhochschule</nameTechnisch>
            <kennung>urn:xoev-de:xhochschule-de:def:standard:xhochschule</kennung>
            <beschreibung>XHochschule</beschreibung>
         </standard>
         <versionStandard>
            <version>0.7</version>
            <versionXOEVProfil>1.7.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.0.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP 3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xhochschule-baukasten.xsd"/>
   <xs:import schemaLocation="http://xbildung.de/def/xbildung/0.7/xsd/xbildung-baukasten.xsd"
              namespace="http://xbildung.de/def/xbildung/0.7/xsd"/>
   <xs:element name="exmatrikulationsbescheinigung">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage/>
         </xs:appinfo>
         <xs:documentation>Exmatrikulationsbescheinigung für ein eizelnen Studiengang, die für einen Studienplatzwechsel benötigt wird.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:AllgemeineBescheinigung">
               <xs:sequence>
                  <xs:element name="exmatrikulationsgrund" type="xhs:Code.Exmatrikulationsgrund">
                     <xs:annotation>
                        <xs:documentation>Durch den Exmatrikulationsgrund wird, im Falle einer Exmatrikulation, der Anlass für die Exmatrikulation in Form eines bundesweit einheitlichen Codes abgebildet.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="exmatrikulationsdatum" minOccurs="0" type="xs:date">
                     <xs:annotation>
                        <xs:documentation>Datum der Exmatrikulation.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studierender" type="xhs:Studierender">
                     <xs:annotation>
                        <xs:documentation>Beschreibung der zu exmatrikulierenden Person.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ausstellendeHochschule" type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Die Hochschule, von der die Exmatrikulation erfolgt und die die Bescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienfach"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xhs:Studienfach">
                     <xs:annotation>
                        <xs:documentation>Als Studienfach bezeichnet man an Hochschulen den spezifischen Aufbau und die fachliche Ausrichtung eines Studiums.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienabschnitt" minOccurs="0" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Ein zeitlich, fachlich, und verwaltungstechnisch abgegrenztes Teil eines Studiums</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xhs:Studienabschnitt"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="urlaubsstudienperioden" minOccurs="0" type="xs:integer">
                     <xs:annotation>
                        <xs:documentation>Anzahl der zum Zeitpunkt der Exmatrikulation abgelegten Urlaubsstudienperioden. Als Urlaubsstudienperioden werden die Studienperioden bezeichnet, in denen ein Studierender in einer Hochschule immatrikuliert und beurlaubt ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="hochschulstudienperioden" minOccurs="0" type="xs:integer">
                     <xs:annotation>
                        <xs:documentation>Anzahl der zum Zeitpunkt der Exmatrikulation abgelegten Studienperioden. Als Hochschulstudienperioden werden die Studienperioden bezeichnet, die ein Studierender an einer Hochschule immatrikuliert ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="fachstudienperioden" minOccurs="0" type="xs:integer">
                     <xs:annotation>
                        <xs:documentation>Zahl der zum Zeitpunkt der Exmatrikulation abgelegten Fachstudienperioden. Als Fachstudienperioden werden die Studienperioden bezeichnet, in denen ein Studierender an einer Hochschule immatrikuliert und nicht beurlaubt ist.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="regelstudienzeit" minOccurs="0" type="xs:integer">
                     <xs:annotation>
                        <xs:documentation>Zahl der Studienperioden die bis zum Abschluss eines Vollzeitstudiengangs nach der während des Studienabschnitts gültigen Prüfungs- oder Studienordnung vorgesehen sind.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="verifikation" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Zusätzliche Informationen der Bildungseinrichtung. Diese enthalten unter anderem Informationen über die Adresse der Bildungseinrichtung.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="schluessel" type="xs:string">
                              <xs:annotation>
                                 <xs:documentation>Studienbescheinigungen sind meist maschinell erstellt und tragen keine Unterschrift. Viele Universitäten bieten daher heute die Möglichkeit einer Verifikation über das Internet an. Dazu enthält die Bescheinigung eine für jeden Studenten einmalige Verifikationsnummer.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="adresse" type="xs:string">
                              <xs:annotation>
                                 <xs:documentation>Studienbescheinigungen sind meist maschinell erstellt und tragen keine Unterschrift. Viele Universitäten bieten daher heute die Möglichkeit einer Verifikation über das Internet an. Dazu enthält die Bescheinigung eine für jeden Studenten einmalige URI.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="rentenbescheinigung">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage/>
         </xs:appinfo>
         <xs:documentation>Spezialisierung eines Bildungsnachweis im Hochschulwesen mit hochschulspezifischen Angaben zur Vorlage bei einer Rentenversicherung durch die studierende Person.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:AllgemeineBescheinigung">
               <xs:sequence>
                  <xs:element name="rentenversicherungsnummer"
                              minOccurs="0"
                              type="xbd:Identifikation">
                     <xs:annotation>
                        <xs:documentation>Rentenversicherungsnummer der studierenden Person, der eine Bescheinigung ausgestellt wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studierender" type="xhs:Studierender"/>
                  <xs:element name="ausstellendeHochschule" type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Hochschule, die die Bescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienabschnitte" maxOccurs="unbounded">
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xhs:Studienabschnitt"/>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="verifikation">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="schluessel" type="xs:string">
                              <xs:annotation>
                                 <xs:documentation>Studienbescheinigungen sind meist maschinell erstellt und tragen keine Unterschrift. Viele Universitäten bieten daher heute die Möglichkeit einer Verifikation über das Internet an. Dazu enthält die Bescheinigung eine für jeden Studenten einmalige Verifikationsnummer.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="adresse" type="xs:string">
                              <xs:annotation>
                                 <xs:documentation>Studienbescheinigungen sind meist maschinell erstellt und tragen keine Unterschrift. Viele Universitäten bieten daher heute die Möglichkeit einer Verifikation über das Internet an. Dazu enthält die Bescheinigung eine für jeden Studenten einmalige URI.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
