xsd/xhochschule-bescheinigungen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xhs="http://xhochschule.de/def/xhochschule/1.0/xsd"
           xmlns:din91379="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"
           xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
           xmlns:xbd="http://xbildung.de/def/xbildung/1.0/xsd"
           targetNamespace="http://xhochschule.de/def/xhochschule/1.0/xsd"
           version="1.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XHochschule</nameLang>
            <nameKurz>XHochschule</nameKurz>
            <nameTechnisch>xhochschule</nameTechnisch>
            <kennung>urn:xoev-de:xhochschule-de:def:standard:xhochschule</kennung>
            <beschreibung>XHochschule</beschreibung>
         </standard>
         <versionStandard>
            <version>1.0</version>
            <versionXOEVProfil>3.0.1</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.0</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP 3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xhochschule-baukasten.xsd"/>
   <xs:import schemaLocation="http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd"
              namespace="http://www.w3.org/2000/09/xmldsig#"/>
   <xs:import schemaLocation="http://xbildung.de/def/xbildung/1.0/xsd/xbildung-baukasten.xsd"
              namespace="http://xbildung.de/def/xbildung/1.0/xsd"/>
   <xs:import schemaLocation="https://xoev.de/schemata/din/91379/2022-08/din-norm-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"/>
   <xs:element name="exmatrikulationsbescheinigung">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage/>
         </xs:appinfo>
         <xs:documentation>Exmatrikulationsbescheinigung, die für einen Studienplatzwechsel benötigt wird.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Dokument">
               <xs:sequence>
                  <xs:element name="exmatrikulationsdatum" type="xs:date">
                     <xs:annotation>
                        <xs:documentation>Datum der Exmatrikulation.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studierender" type="xhs:Studierender">
                     <xs:annotation>
                        <xs:documentation>Beschreibung der zu exmatrikulierenden Person.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ausstellendeHochschule" type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Die Hochschule, von der die Exmatrikulation erfolgt und die die Bescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienabschnitt"
                              maxOccurs="unbounded"
                              type="xhs:StudienabschnittAufzaehlungOderZusammenfassung">
                     <xs:annotation>
                        <xs:documentation>Ein Studienabschnitt ist ein zeitlich, fachlich, und verwaltungstechnisch abgegrenzter Teil eines Studiums. Hier besteht die Auswahl zwischen einer umfangreichen und einer eingeschränkten Angabe. Sollen beide Varianten verwendet oder für mehrere Studienfächer Angaben gemacht werden, wird die Klasse mehrfach eingefügt. So kann beispielsweise für zwei Studienfächer eine detaillierte Angabe gemacht und zusätzlich eine Zusammenfassung angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anmerkungRegelstudienzeit"
                              minOccurs="0"
                              type="xbd:String.Localized">
                     <xs:annotation>
                        <xs:documentation>Falls beispielsweise die Regelstudienzeit aufgrund der Corona-Pandemie verlängert wurde, sollte diese Information hier angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="verifikation"
                              minOccurs="0"
                              maxOccurs="2"
                              type="xhs:Verifikation">
                     <xs:annotation>
                        <xs:documentation>Zusätzliche Informationen der Bildungseinrichtung zur Verifikation eines Dokuments. Es können bis zu zwei verschiedene Dokumenttypen verifiziert werden. Eine Angabe dient beispielsweise zur Verifikation eines PDF-Dokuments und die andere zur Verifikation einer XML-Datei.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="ds:Signature" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Hier kann eine digitale Signatur angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="immatrikulationsbescheinigung">
      <xs:annotation>
         <xs:documentation>Eine Bescheinigung, die Angaben enthält, um die Immatrikulation eines Studierenden an einer Hochschule allgemein nachweisen zu können.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Dokument">
               <xs:sequence>
                  <xs:element name="ausstellendeHochschule" type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Hochschule, die die Bescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studierender" type="xhs:Studierender">
                     <xs:annotation>
                        <xs:documentation>Studierende Person, für die eine Immatrikulationsbescheinigung ausgestellt wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienfach"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xhs:Studienfach">
                     <xs:annotation>
                        <xs:documentation>Als Studienfach bezeichnet man an Hochschulen den spezifischen Aufbau und die fachliche Ausrichtung eines Studiums.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="lernzeitmodell" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Mit Lernzeitmodell sei hier vor allen Dingen der Unterschied zwischen Voll- und Teilzeit gemeint. Kann dies nicht über einen Codelistenwert ausgedrückt werden, so soll der Wert 'Wert nicht in Liste' gewählt und das dann vorgesehene Freitextfeld ausgefüllt werden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="code" type="xhs:Code.Lernzeitmodell">
                              <xs:annotation>
                                 <xs:documentation>Mit Lernzeitmodell sei hier unter anderem die Unterscheidung zwischen Teil- und Vollzeit gemeint.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nichtGelisteterWert"
                                       minOccurs="0"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>In diesem Feld ist das Lernzeitmodell als Freitext anzugeben. Es steht nur für den Fall zur Verfügung, wenn kein zutreffender Wert in der Codeliste enthalten ist, d. h. wenn dort der Codelisteneintrag "Wert nicht in Liste" ausgewählt wird.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="studienzeitraum" type="xhs:Studienzeitraum">
                     <xs:annotation>
                        <xs:documentation>Bezeichnung des aktuellen Studienzeitraums, sowie dessen Anfangs- und Enddatums</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="immatrikulationsstatus">
                     <xs:annotation>
                        <xs:documentation>Angabe zum Immatrikulationsstatus des Studierenden. Kann dies nicht über einen Codelistenwert ausgedrückt werden, so soll der Wert 'Wert nicht in Liste' gewählt und das dann vorgesehene Freitextfeld ausgefüllt werden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="code" type="xhs:Code.Immatrikulationsstatus">
                              <xs:annotation>
                                 <xs:documentation>Angabe zum Immatrikulationsstatus des Studierenden</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nichtGelisteterWert"
                                       minOccurs="0"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>In diesem Feld ist der Immatrikulationsstatus als Freitext anzugeben. Es steht nur für den Fall zur Verfügung, wenn kein zutreffender Wert in der Codeliste enthalten ist, d. h. wenn dort der Codelisteneintrag "Wert nicht in Liste" ausgewählt wird.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="beurlaubungsstatus" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Angabe über den Beurlaubungsstatus des Studierenden. Kann dies nicht über einen Codelistenwert ausgedrückt werden, so soll der Wert 'Wert nicht in Liste' gewählt und das dann vorgesehene Freitextfeld ausgefüllt werden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="code" type="xhs:Code.Beurlaubungsstatus">
                              <xs:annotation>
                                 <xs:documentation>Angabe zum Beurlaubungsstatus des Studierenden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nichtGelisteterWert"
                                       minOccurs="0"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>In diesem Feld ist der Beurlaubungsstatus als Freitext anzugeben. Es steht nur für den Fall zur Verfügung, wenn kein zutreffender Wert in der Codeliste enthalten ist, d. h. wenn dort der Codelisteneintrag "Wert nicht in Liste" ausgewählt wird.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="verifikation"
                              minOccurs="0"
                              maxOccurs="2"
                              type="xhs:Verifikation">
                     <xs:annotation>
                        <xs:documentation>Zusätzliche Informationen der Bildungseinrichtung zur Verifikation eines Dokuments. Es können bis zu zwei verschiedene Dokumenttypen verifiziert werden. Eine Angabe dient beispielsweise zur Verifikation eines PDF-Dokuments und die andere zur Verifikation einer XML-Datei.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="ds:Signature" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Hier kann eine digitale Signatur angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="immatrikulationsbescheinigungBAfoeGP9">
      <xs:annotation>
         <xs:documentation>Eine Bescheinigung, die Angaben enthält, um die Immatrikulation eines Studierenden an einer Hochschule nach den Vorgaben von BAföG §9 nachzuweisen.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Dokument">
               <xs:sequence>
                  <xs:element name="ausstellendeHochschule" type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Hochschule, die die Bescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studierender">
                     <xs:annotation>
                        <xs:documentation>Studierende Person, für die eine Immatrikulationsbescheinigung ausgestellt wird.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="name">
                              <xs:annotation>
                                 <xs:documentation>Variante von NameNatuerlichePerson, in der die Angabe eine Familiennamens verpflichtend ist.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="familienname" type="xhs:AllgemeinerName" form="qualified">
                                       <xs:annotation>
                                          <xs:documentation>Der Familienname ist der aktuelle Nachname einer Person und Ausdruck einer bestimmten Familienzugehörigkeit dieser Person.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="vorname"
                                                minOccurs="0"
                                                type="xhs:AllgemeinerName"
                                                form="qualified">
                                       <xs:annotation>
                                          <xs:documentation>Der Vorname ist der Name bzw. der Teil des Namens, der nicht die Zugehörigkeit zu einer Familie ausdrückt, sondern das Individuum innerhalb der Familie bezeichnet und dazu dient, es von anderen Familienmitgliedern zu unterscheiden.</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="geburt">
                              <xs:annotation>
                                 <xs:documentation>Angaben zur Geburt, benötigt bei der Immatrikulationsbescheinigung nach BAföG §9. In dieser Klasse ist die Angabe des Geburtsdatums und Geburtsorts verpflichtend</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                 <xs:sequence>
                                    <xs:element name="datum" type="xbd:TeilbekanntesDatum" form="qualified">
                                       <xs:annotation>
                                          <xs:documentation>Das "datum" beinhaltet das Geburtsdatum, also Tag, Monat und Jahr der Vollendung der Geburt. Bei Bedarf einer höheren Genauigkeit kann auch die Uhrzeit angegeben werden. Anmerkung: Bei Bedarf einer höheren Genauigkeit kann auch die Uhrzeit angegeben werden, indem der W3C-Datentyp "dateTime" verwendet wird. Auch ungenaue Datumsangaben dürfen gemacht werden (Nutzung der Datentypen "gYear" bzw. "gYearMonth").</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                    <xs:element name="geburtsort" type="xbd:Ortsangabe" form="qualified">
                                       <xs:annotation>
                                          <xs:documentation>Hier werden Angaben zum Ort einer Geburt gemacht (z. B. Geburtsort, Geburtsstaat)</xs:documentation>
                                       </xs:annotation>
                                    </xs:element>
                                 </xs:sequence>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="ersteinschreibung" type="xs:date">
                              <xs:annotation>
                                 <xs:documentation>Datum der Ersteinschreibung</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="studienfach"
                              minOccurs="0"
                              maxOccurs="unbounded"
                              type="xhs:Studienfach">
                     <xs:annotation>
                        <xs:documentation>Als Studienfach bezeichnet man an Hochschulen den spezifischen Aufbau und die fachliche Ausrichtung eines Studiums.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="lernzeitmodell">
                     <xs:annotation>
                        <xs:documentation>Mit Lernzeitmodell sei hier vor allen Dingen der Unterschied zwischen Voll- und Teilzeit gemeint. Kann dies nicht über einen Codelistenwert ausgedrückt werden, so soll der Wert 'Wert nicht in Liste' gewählt und das dann vorgesehene Freitextfeld ausgefüllt werden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="code" type="xhs:Code.Lernzeitmodell">
                              <xs:annotation>
                                 <xs:documentation>Mit Lernzeitmodell sei hier unter anderem die Unterscheidung zwischen Teil- und Vollzeit gemeint.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nichtGelisteterWert"
                                       minOccurs="0"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>In diesem Feld ist das Lernzeitmodell als Freitext anzugeben. Es steht nur für den Fall zur Verfügung, wenn kein zutreffender Wert in der Codeliste enthalten ist, d. h. wenn dort der Codelisteneintrag "Wert nicht in Liste" ausgewählt wird.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="studienzeitraum" type="xhs:Studienzeitraum">
                     <xs:annotation>
                        <xs:documentation>Bezeichnung des aktuellen Studienzeitraums, sowie dessen Anfangs- und Enddatums</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="immatrikulationsstatus">
                     <xs:annotation>
                        <xs:documentation>Angabe zum Immatrikulationsstatus des Studierenden. Kann dies nicht über einen Codelistenwert ausgedrückt werden, so soll der Wert 'Wert nicht in Liste' gewählt und das dann vorgesehene Freitextfeld ausgefüllt werden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="code" type="xhs:Code.Immatrikulationsstatus">
                              <xs:annotation>
                                 <xs:documentation>Angabe zum Immatrikulationsstatus des Studierenden</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nichtGelisteterWert"
                                       minOccurs="0"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>In diesem Feld ist der Immatrikulationsstatus als Freitext anzugeben. Es steht nur für den Fall zur Verfügung, wenn kein zutreffender Wert in der Codeliste enthalten ist, d. h. wenn dort der Codelisteneintrag "Wert nicht in Liste" ausgewählt wird.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="beurlaubungsstatus">
                     <xs:annotation>
                        <xs:documentation>Angabe über den Beurlaubungsstatus des Studierenden. Kann dies nicht über einen Codelistenwert ausgedrückt werden, so soll der Wert 'Wert nicht in Liste' gewählt und das dann vorgesehene Freitextfeld ausgefüllt werden.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="code" type="xhs:Code.Beurlaubungsstatus">
                              <xs:annotation>
                                 <xs:documentation>Angabe zum Beurlaubungsstatus des Studierenden.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                           <xs:element name="nichtGelisteterWert"
                                       minOccurs="0"
                                       type="xbd:String.Localized">
                              <xs:annotation>
                                 <xs:documentation>In diesem Feld ist der Beurlaubungsstatus als Freitext anzugeben. Es steht nur für den Fall zur Verfügung, wenn kein zutreffender Wert in der Codeliste enthalten ist, d. h. wenn dort der Codelisteneintrag "Wert nicht in Liste" ausgewählt wird.</xs:documentation>
                              </xs:annotation>
                           </xs:element>
                        </xs:sequence>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="verifikation"
                              minOccurs="0"
                              maxOccurs="2"
                              type="xhs:Verifikation">
                     <xs:annotation>
                        <xs:documentation>Zusätzliche Informationen der Bildungseinrichtung zur Verifikation eines Dokuments. Es können bis zu zwei verschiedene Dokumenttypen verifiziert werden. Eine Angabe dient beispielsweise zur Verifikation eines PDF-Dokuments und die andere zur Verifikation einer XML-Datei.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="ds:Signature" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Hier kann eine digitale Signatur angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="rentenbescheinigung">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage/>
         </xs:appinfo>
         <xs:documentation>Bescheinigungen zur Vorlage bei der Deutschen Rentenversicherung</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Dokument">
               <xs:sequence>
                  <xs:element name="rentenversicherungsnummer"
                              minOccurs="0"
                              type="xhs:Identifikation">
                     <xs:annotation>
                        <xs:documentation>Rentenversicherungsnummer der studierenden Person, der eine Bescheinigung ausgestellt wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studierender" type="xhs:Studierender">
                     <xs:annotation>
                        <xs:documentation>Beschreibung der empfangenden Person.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ausstellendeHochschule" type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Hochschule, die die Bescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienabschnitt" maxOccurs="unbounded">
                     <xs:annotation>
                        <xs:documentation>Aufzählung aller Studienabschnitte zum Nachweis des Studierendenstatus der empfangenden Person. Bei Beurlaubung muss immer der Beurlaubungsgrund aufgeführt werden. Ein Studienabschnitt ist ein zeitlich, fachlich, und verwaltungstechnisch abgegrenzter Teil eines Studiums.</xs:documentation>
                     </xs:annotation>
                     <xs:complexType>
                        <xs:complexContent>
                           <xs:extension base="xhs:StudienabschnittAufzaehlung">
                              <xs:sequence>
                                 <xs:element name="beurlaubungsgrund"
                                             minOccurs="0"
                                             type="xhs:Code.Beurlaubungsgrund">
                                    <xs:annotation>
                                       <xs:documentation>Grund für die Beurlaubung nach DESTATIS Erhebungsschlüssel. Darf nur bei der Rentenbescheinigung angegeben werden.</xs:documentation>
                                    </xs:annotation>
                                 </xs:element>
                                 <xs:element name="ausbildungsstaette" type="xhs:Hochschule">
                                    <xs:annotation>
                                       <xs:documentation>Hochschule, an der dieser Studienabschnitt stattgefunden hat. Diese kann eine andere als die ausstellende Hochschule sein.</xs:documentation>
                                    </xs:annotation>
                                 </xs:element>
                                 <xs:element name="vorzeitigBeendet" minOccurs="0" type="xs:date">
                                    <xs:annotation>
                                       <xs:documentation>Angabe eines Datums für den Fall, dass der Studienabschnitt außerplanmässig vorzeitig beendet wurde.</xs:documentation>
                                    </xs:annotation>
                                 </xs:element>
                              </xs:sequence>
                           </xs:extension>
                        </xs:complexContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="verifikation"
                              minOccurs="0"
                              maxOccurs="2"
                              type="xhs:Verifikation">
                     <xs:annotation>
                        <xs:documentation>Zusätzliche Informationen der Bildungseinrichtung zur Verifikation eines Dokuments. Es können bis zu zwei verschiedene Dokumenttypen verifiziert werden. Eine Angabe dient beispielsweise zur Verifikation eines PDF-Dokuments und die andere zur Verifikation einer XML-Datei.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="ds:Signature" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Hier kann eine digitale Signatur angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
   <xs:element name="studienverlaufsbescheinigung">
      <xs:annotation>
         <xs:appinfo>
            <rechtsgrundlage/>
         </xs:appinfo>
         <xs:documentation>Bescheinigung über den Verlauf des Studiums von Studierenden.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
         <xs:complexContent>
            <xs:extension base="xbd:Dokument">
               <xs:sequence>
                  <xs:element name="studierender" type="xhs:Studierender">
                     <xs:annotation>
                        <xs:documentation>Beschreibung der Person, deren Studienverlauf bescheinigt wird.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="ausstellendeHochschule" type="xhs:Hochschule">
                     <xs:annotation>
                        <xs:documentation>Die Hochschule, an welcher die studierenden ihr Studium absolviert haben und welche die Studienverlaufsbescheinigung ausstellt nach bundesweit einheitlicher Hochschulbezeichnung.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="studienabschnitt"
                              maxOccurs="unbounded"
                              type="xhs:StudienabschnittAufzaehlungOderZusammenfassung">
                     <xs:annotation>
                        <xs:documentation>Ein Studienabschnitt ist ein zeitlich, fachlich, und verwaltungstechnisch abgegrenzter Teil eines Studiums. Hier besteht die Auswahl zwischen einer umfangreichen und einer eingeschränkten Angabe. Sollen beide Varianten verwendet oder für mehrere Studienfächer Angaben gemacht werden, wird die Klasse mehrfach eingefügt. So kann beispielsweise für zwei Studienfächer eine detaillierte Angabe gemacht und zusätzlich eine Zusammenfassung angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="anmerkungRegelstudienzeit"
                              minOccurs="0"
                              type="xbd:String.Localized">
                     <xs:annotation>
                        <xs:documentation>Falls beispielsweise die Regelstudienzeit aufgrund der Corona-Pandemie verlängert wurde, sollte diese Information hier angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="verifikation"
                              minOccurs="0"
                              maxOccurs="2"
                              type="xhs:Verifikation">
                     <xs:annotation>
                        <xs:documentation>Zusätzliche Informationen der Bildungseinrichtung zur Verifikation eines Dokuments. Es können bis zu zwei verschiedene Dokumenttypen verifiziert werden. Eine Angabe dient beispielsweise zur Verifikation eines PDF-Dokuments und die andere zur Verifikation einer XML-Datei.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element ref="ds:Signature" minOccurs="0">
                     <xs:annotation>
                        <xs:documentation>Hier kann eine digitale Signatur angegeben werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
            </xs:extension>
         </xs:complexContent>
      </xs:complexType>
   </xs:element>
</xs:schema>
